body {
    background-image: url(https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg);
    background-size:contain;
}
h1 {
    color:rgb(160, 16, 16);
    text-align: center;

    
}
h5 {
    color: white;   
}
.container {
    color: black;
}
#navbar { 
    font-size: large;
    display: table;  
    float: none !important;
    margin: auto !important;
    color: red;
}
p {
    color: black;
}
.icon {
    border: none !important;
    border-color: aliceblue;
    border: none; 
}
#foot{
    color: white;
}
#iconbas{
    border-color: transparent;
    padding: 3px;
    background-color: transparent;
    
}
span {
    background-color: grey;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    color: white;
}
button{
    border: none;
    background-color: transparent;
}
#logo{
     
    width: 100px;
    height: 100px;
    background: transparent;
    opacity: 1;
    border-radius: 25px;

} 